<h1> All items </h1>

<% if (viewData?.items[0]) { %>

  <div>
  <% for (const item of viewData.items) { %>
    <div>
      <h2><a href="./item/<%= item.id %>"><%= item.name %></a></h2>
      <% if (item?.imgUrl) { %>
      <img src="<%= item.imgUrl %>" width="150">
      <% } %>
      <p>Category: <%= item.category.name %></p>
      <p>Made by: @<%= item.creator.username %></p>
      <p>Brand: <%= item.brand %></p>
      <p><%= item?.description %></p>
    </div>
  <% } %>
  </div>

<% } else { %>
  <p> There are currently no items avaliable - you should add one!</p>
<% } %>

<a href="./item/create"> Add a new item </a>